In [1]:
import pandas as pd

In [2]:
datos_familia=pd.read_csv('./bird_taxonomy_families.csv')

datos_espana=pd.read_csv('./controles_espana_merged.csv')

datos_extranjero=pd.read_csv('./controles_extranjeros_merged.csv')

datos_anillamiento = pd.read_csv('./anillamiento.csv')

datos_sin_anillamiento = pd.read_csv('./controles_sin_datos_de_anillamiento.csv')

datos_familia[:10]

C:\Users\Pablo\AppData\Local\Temp\ipykernel_20072\87613517.py:7: DtypeWarning: Columns (0,4,6,7,10,11,12,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_anillamiento = pd.read_csv('./anillamiento.csv')

,TAXON_ORDER,CATEGORY,SPECIES_CODE,PRIMARY_COM_NAME,SCI_NAME,ORDER1,FAMILY,SPECIES_GROUP,REPORT_AS
0,2,species,ostric2,Common Ostrich,Struthio camelus,Struthioniformes,Struthionidae (Ostriches),Ostriches,NaN
1,7,species,ostric3,Somali Ostrich,Struthio molybdophanes,Struthioniformes,Struthionidae (Ostriches),Ostriches,NaN
2,8,slash,y00934,Common/Somali Ostrich,Struthio camelus/molybdophanes,Struthioniformes,Struthionidae (Ostriches),Ostriches,NaN
3,10,species,grerhe1,Greater Rhea,Rhea americana,Rheiformes,Rheidae (Rheas),Rheas,NaN
4,16,species,lesrhe2,Lesser Rhea,Rhea pennata,Rheiformes,Rheidae (Rheas),Rheas,NaN
5,17,issf,lesrhe4,Lesser Rhea (Puna),Rhea pennata tarapacensis/garleppi,Rheiformes,Rheidae (Rheas),Rheas,lesrhe2
6,20,issf,lesrhe3,Lesser Rhea (Darwin's),Rhea pennata pennata,Rheiformes,Rheidae (Rheas),Rheas,lesrhe2
7,22,species,tabtin1,Tawny-breasted Tinamou,Nothocercus julius,Tinamiformes,Tinamidae (Tinamous),Tinamous,NaN
8,23,species,higtin1,Highland Tinamou,Nothocercus bonapartei,Tinamiformes,Tinamidae (Tinamous),Tinamous,NaN
9,24,issf,higtin2,Highland Tinamou (South American),Nothocercus bonapartei [bonapartei Group],Tinamiformes,Tinamidae (Tinamous),Tinamous,higtin1

In [3]:
especies = datos_familia.SCI_NAME.to_list()
outliers_extranjeros = list()
outliers_espana = list()
outliers_anillamiento = list()
outliers_sin_anillamiento = list()

for i in datos_extranjero['ESPECIE']:
    if especies.count(i) == 0:
        outliers_extranjeros.append(i)
outliers_extranjeros = pd.Series(outliers_extranjeros).unique()

for i in datos_espana['ESPECIE']:
    if especies.count(i) == 0:
        outliers_espana.append(i)
outliers_espana = pd.Series(outliers_espana).unique()

for i in datos_anillamiento['NombreEspecie']:
    if especies.count(i) == 0:
        outliers_anillamiento.append(i)
outliers_anillamiento = pd.Series(outliers_anillamiento).unique()

for i in datos_sin_anillamiento['NombreEspecie']:
    if especies.count(i) == 0:
        outliers_sin_anillamiento.append(i)
outliers_sin_anillamiento = pd.Series(outliers_sin_anillamiento).unique()

In [4]:
print(outliers_espana)
print(outliers_extranjeros)
print(outliers_sin_anillamiento)
print(outliers_anillamiento)

['Egretta garcetta' 'Tachibaptus ruficollis' 'Anas strepera'
 'Maramronetta angustirostris' 'Hieraetus pennatus' 'Larus genei'
 'Larus ridibundus' 'Cyanopica cyana' 'Delichon urbica'
 'Saxicola torquata' 'Parus caeruelus' 'Carduelis chloris'
 'Carduelis cannabina']
['Larus ridibundus' 'Miniopterus schreibersii' 'Sula basana'
 'Anas strepera' 'Anas clypeata' 'Maramronetta angustirostris'
 'Circus aeroginosus' 'Haemantopus ostralegus' 'Tringa erhytropus'
 'Philomachus pugnax' 'Sterna sandvicensis' 'Sterna caspia'
 'Sylvia communis' 'Carduelis chloris' 'Carduelis cannabina'
 'Carduelis spinus' 'Motacilla alba ']
['Miliaria calandra' 'Mivuls migrans' 'Cahradrius alexandrinus'
 'Caildris ferruginea' 'Cyanopica cyana' 'Hippolais pallida'
 'Sylvia melanocephala' 'Parus cristatus' 'Parus caeruleus'
 'Carduelis chloris' 'Carduelis cannabina']
['Carduelis chloris' 'Passer domesticusxhispaniol.'
 'Lanius (excubitor) meridionalis' 'Cyanopica cyana' 'Otus scop'
 'HIMANTOPUS HIMANTOPUS' 'Larus ridibundus' 'Sterna sandvicensis'
 'Anas strepera' 'Larus cachinans' 'Anas clypeata' 'Parus caeruleus'
 'Sylvia melanocephala' 'Sylvia communis' 'Saxicola torquata'
 'Hippolais pallida' 'Delichon urbica' 'Sylvia hortensis'
 'Phylomachus pugnax' 'Carduelis spinus' 'Sylvia cantillans'
 'Parus cristatus' 'Hirundo daurica' 'PERDIDA' 'Carduelis cannabina'
 'Luscinia svecica cyanecula' 'Motacilla alba yarrelii' 'FALTA'
 'Sterna albifrons' 'ANILLA PERDIDA---------------' 'Miliaria calandra'
 'Passer domesticusxhispaniolensis' 'Regulus ignicapillus' 'Sylvia undata'
 'Egretta garcetta' 'Nicticorax nicticorax' 'Falco tinnuncus'
 'Charadrius hyaticula' 'Emberiza schoeniclos'
 'Coccothrauste coccothrauste' 'turdus merula' 'turdus viciborus'
 'Sreptopelia decaocto' 'Carduelis Chloris' 'Parus Major'
 'turdus philomelo' 'Larus genei' 'Larus melanocephalus'
 'Luscinia svecica svecica' 'Philomachus Pugnax' 'Tadorna Ferruginea'
 'Calidris ferruginia' 'Bulbucus ibis' 'Chardrius alexandrinus'
 'Chlidonias hybridus' 'Anas querquedula' 'Philomachus pugnax'
 'Podiceps negricollis' 'Anas penelope' 'Caprimilgus ruficollis'
 'Glareola pranticola' 'Streptopelia tutur' 'Oenanthes hispanica'
 'Falcon naumanni' 'Aquila Chrysaetos' 'Larus michaellis' 'perdida'
 'Silvia atricapilla' 'Passer hiapaniolensis' 'Passer  domesticus'
 'anilla perdida' 'Anilla destruida o perdida' 'Sylivia undata'
 'Sylivia communis' 'Phylloscopus (collybita) ibericus'
 'H. rustica x D. urbica' 'Larus [argentatus] cachinnans michahellis'
 'Delichon urbica x Riparia riparia' 'Sylvia conspicillata'
 'Larus cachinans x fuscus' 'Sterna bengalensis' 'Larus Cachinnans'
 'Oceanodroma monorhis' 'Acrocephalus scipaceus' 'Ficedula hypoleua'
 'Esrilda astrild' 'Híbrido' 'Ixobrichus minutus' 'Calandrella rusfescens'
 'Tachibaptus ruficollis' 'Lymnocriptes minimus' 'Asio Flammeus'
 'Egretta alba' 'Calandrella brachydcatyla'
 'Larus (argentatus) cachinnans' 'Circus aeroginosus' 'Hieraetus pennatus'
 'Sula bassana' 'Phoenicopterus ruber roseus' 'Cisticolas juncidis'
 'Parus ater' 'Galerida teklae' 'Pandion haiaetus' 'Dendrocopus major'
 'Plegadis flacinellus' 'Upupa pops' 'Phylloscopus collybita ibericus'
 'Lanius pallidirostris' 'Lanius excubitor meridionales' 'Mivuls migrans'
 'Gyp fulvus' 'Streptopelia dacaocto' 'Grus Grus' 'Paser domesticus'
 'Falco naummani' 'Sylivia atricapilla' 'Dendrocopos minor' 'Cetia cetti'
 'Acrocehpalus arundinaceus' 'carduelis carduelis' 'Ficedula Hypoleuca'
 'Erithacus rubecola' 'Lanius excubitor meridionalis' 'Cicinia nigra'
 'Ploceus melanochephalus' 'Sylivia borin' 'Caruelis chloris'
 'Luscinia megarynchos' 'Picus viridis sharpei'
 'Phylloscopus (collybita) tristis' 'Actitis hypoleuca' 'Aythya niroca'
 'Hieraaetus fasciatus' 'Ciconia cicona' 'Melanocoripha calandra'
 'Merop apiaster']

In [5]:
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Oceanodroma monorhis','Hydrobates monorhis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Acrocephalus scipaceus','Acrocephalus scirpaceus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Ficedula hypoleua','Ficedula hypoleuca')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Esrilda astrild','Estrilda astrild')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Tachibaptus ruficollis','Tachybaptus ruficollis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Lymnocriptes minimus','Lymnocryptes minimus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Calandrella brachydcatyla','Calandrella brachydactyla')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Cisticolas juncidis','Cisticola juncidis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Parus ater','Periparus ater')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Galerida teklae','Galerida theklae')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Pandion haiaetus','Pandion haliaetus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Upupa pops','Upupa epops')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Phylloscopus collybita ibericus','Phylloscopus collybita/ibericus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Lanius excubitor meridionales','Lanius meridionalis/excubitor')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Streptopelia dacaocto','Streptopelia decaocto')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylivia atricapilla','Sylvia atricapilla')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylivia borin','Sylvia borin')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Lanius excubitor meridionalis','Lanius meridionalis/excubitor')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Cetia cetti','Cettia cetti')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Erithacus rubecola','Erithacus rubecula')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Cicinia nigra','Ciconia nigra')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Ploceus melanochephalus','Ploceus melanocephalus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Caruelis chloris','Chloris chloris')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Picus viridis sharpei','Picus sharpei')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Phylloscopus (collybita) tristis','Phylloscopus collybita tristis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Actitis hypoleuca','Actitis hypoleucos')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Aythya niroca','Aythya nyroca')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Hieraaetus fasciatus','Aquila fasciata')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Ciconia cicona','Ciconia ciconia')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Melanocoripha calandra','Melanocorypha calandra')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Merop apiaster','Merops apiaster')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Passer domesticusxhispaniol.','Passer domesticus x hispaniolensis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('HIMANTOPUS HIMANTOPUS','Himantopus himantopus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus cachinans','Larus cachinnans')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus Cachinnans','Larus cachinnans')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Philomachus Pugnax','Calidris pugnax')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Phylomachus pugnax','Calidris pugnax')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Luscinia svecica cyanecula','Luscinia svecica cyanecula/namnetum')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Luscinia svecica svecica','Luscinia svecica [svecica Group]')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Luscinia megarynchos','Luscinia megarhynchos')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Passer  domesticus','Passer domesticus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Paser domesticus','Passer domesticus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Motacilla alba yarrelii','Motacilla alba yarrellii')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Nicticorax nicticorax','Nycticorax nycticorax')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Falco tinnuncus','Falco tinnunculus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Falco naummani','Falco naumanni')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Falcon naumanni','Falco naumanni')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Charadrius hyaticula','Charadrius hiaticula')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Emberiza schoeniclos','Emberiza schoeniclus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Coccothrauste coccothrauste','Coccothraustes coccothraustes')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('turdus merula','Turdus merula')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('turdus viciborus','turdus vicivorus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sreptopelia decaocto','Streptopelia decaocto')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Parus Major','Parus major')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('turdus philomelo','Turdus philomelos')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus genei','Chroicocephalus genei')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus melanocephalus','Ichthyaetus melanocephalus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Tadorna Ferruginea','Tadorna ferruginea')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus michaellis','Larus michahellis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Calidris ferruginia','Calidris ferruginea')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('turdus vicivorus','Turdus viscivorus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Bulbucus ibis','Bubulcus ibis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Chardrius alexandrinus','Charadrius alexandrinus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Podiceps negricollis','Podiceps nigricollis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Anas penelope','Mareca penelope')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Caprimilgus ruficollis','Caprimulgus ruficollis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Glareola pranticola','Glareola pratincola')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Streptopelia tutur','Streptopelia turtur')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Oenanthes hispanica','Oenanthe hispanica')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Aquila Chrysaetos','Aquila chrysaetos')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Silvia atricapilla','Sylvia atricapilla')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Passer hiapaniolensis','Passer hispaniolensis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylivia undata','Curruca undata')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylivia communis','Curruca communis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Phylloscopus (collybita) ibericus','Phylloscopus collybita/ibericus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sterna bengalensis','Thalasseus bengalensis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Hippolais pallida','Iduna pallida')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Carduelis chloris','Chloris chloris')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Delichon urbica','Delichon urbicum')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylvia conspicillata','Curruca conspicillata')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Lanius (excubitor) meridionalis','Lanius meridionalis/excubitor')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Carduelis cannabina','Linaria cannabina')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Parus caeruleus','Cyanistes caeruleus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Carduelis spinus','Spinus spinus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylvia melanocephala','Curruca melanocephala')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Saxicola torquata','Saxicola torquatus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Miliaria calandra','Emberiza calandra')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus ridibundus','Chroicocephalus ridibundus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Cyanopica cyana','Cyanopica cyanus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Philomachus pugnax','Calidris pugnax')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylvia communis','Curruca communis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Hieraetus pennatus','Hieraaetus pennatus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sterna sandvicensis','Thalasseus sandvicensis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Tringa erhytropus','Tringa erythropus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Anas strepera','Mareca strepera')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Circus aeroginosus','Circus aeruginosus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Anas clypeata','Spatula clypeata')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Egretta garcetta','Egretta garzetta')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Parus cristatus','Lophophanes cristatus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylvia undata','Curruca undata')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylvia cantillans','Curruca cantillans')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Hirundo daurica','Cecropis daurica')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Dendrocopus major','Dendrocopos major')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Calandrella rusfescens','Alaudala rufescens')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Regulus ignicapillus','Regulus ignicapilla')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sylvia hortensis','Curruca hortensis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Otus scop','Otus scops')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Chlidonias hybridus','Chlidonias hybrida')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Hieraetus fasciatus','Aquila fasciata')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Aquila chrysaetus','Aquila chrysaetos')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sterna albifrons','Sternula albifrons')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Parus caeruleus teneriffae','Cyanistes teneriffae')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Erithacus rubecula superbus','Erithacus rubecula')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Corvus corax tingitanus','Corvus corax')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus geneii','Chroicocephalus genei')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Anas querquedula','Spatula querquedula')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Carduelis Chloris','Chloris chloris')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Asio Flammeus','Asio flammeus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Gallinula Chloropus','Gallinula chloropus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Grus Grus','Grus grus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Egretta alba','Ardea alba')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus [argentatus] cachinnans michahellis','Larus argentatus/michahellis/cachinnans')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Ixobrichus minutus','Ixobrychus minutus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Larus (argentatus) cachinnans','Larus argentatus x cachinnans')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('H. rustica x D. urbica','Hirundo rustica x Delichon urbicum')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Passer domesticusxhispaniolensis','Passer domesticus x hispaniolensis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Phoenicopterus ruber roseus','Phoenicopterus roseus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Sula bassana','Morus bassanus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Plegadis flacinellus','Plegadis falcinellus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Mivuls migrans','Milvus migrans')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Lanius pallidirostris','Lanius excubitor pallidirostris')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Gyp fulvus','Gyps fulvus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Dendrocopos minor','Dryobates minor')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Acrocehpalus arundinaceus','Acrocephalus arundinaceus')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('carduelis carduelis','Carduelis carduelis')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Carduleis chloris','Chloris chloris')
datos_anillamiento['NombreEspecie']=datos_anillamiento['NombreEspecie'].replace('Ficedula Hypoleuca','Ficedula hypoleuca')


datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'Anilla destruida o perdida'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'Estrilda astrild x  melpoda'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'Larus cachinans x fuscus'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'Delichon urbica x Riparia riparia'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'FALTA'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'Híbrido'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'PERDIDA'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'perdida'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'anilla perdida'].index)
datos_anillamiento=datos_anillamiento.drop(index=datos_anillamiento[datos_anillamiento['NombreEspecie'] == 'ANILLA PERDIDA---------------'].index)
datos_anillamiento.reset_index()

,index,CodigoAnillador,NombreAnillador,Anilla,NombreEspecie,CodigoEspecie,FechaCaptura,CodigoEdad,CodigoSexo,NombreLocalidad,...,CodigoHabitat,CodigoMetodo,NumRedes,HoraCaptura,HoraDesde,HoraHasta,TipoRegistro,CodigoCentro,CodigoReclamo,DataFrameName
0,0,660019,MANUEL VAZQUEZ CASTRO,1006429,Phoenicopterus ruber,01470,2004-07-08,8.0,2,Fuente de Piedra,...,F3,S,NaN,NaN,00:00,00:00,A,ESI,U,d04
1,1,660019,MANUEL VAZQUEZ CASTRO,1006430,Phoenicopterus ruber,01470,2004-07-09,8.0,1,Fuente de Piedra,...,F3,S,NaN,NaN,00:00,00:00,A,ESI,U,d04
2,2,660019,MANUEL VAZQUEZ CASTRO,1006440,Phoenicopterus ruber,01470,2004-07-12,8.0,2,Fuente de Piedra,...,F3,S,NaN,NaN,00:00,00:00,A,ESI,U,d04
3,3,630038,José Manuel Sayago Robles,1008842,Bubo bubo,07440,2004-03-06,1.0,0,Puebla de Guzman,...,H1,M,NaN,NaN,00:00,00:00,A,ESI,U,d04
4,4,630038,José Manuel Sayago Robles,1008843,Bubo bubo,07440,2004-03-06,1.0,0,Puebla de Guzman,...,H1,H,NaN,NaN,00:00,00:00,A,ESI,U,d04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255084,255127,660019,MANUEL VAZQUEZ CASTRO,NX05627,Aythya nyroca,NaN,2018-12-17,3,2,CAÑADA DE LOS PAJAROS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manolo
255085,255128,660019,MANUEL VAZQUEZ CASTRO,NX05628,Aythya nyroca,NaN,2018-12-17,3,1,CAÑADA DE LOS PAJAROS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manolo
255086,255129,660019,MANUEL VAZQUEZ CASTRO,NX05629,Aythya nyroca,NaN,2018-12-17,3,1,CAÑADA DE LOS PAJAROS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manolo
255087,255130,660019,MANUEL VAZQUEZ CASTRO,NX05630,Aythya nyroca,NaN,2018-12-17,3,2,CAÑADA DE LOS PAJAROS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manolo
255088,255131,660019,MANUEL VAZQUEZ CASTRO,MX05070,Falco tinnunculus,NaN,2018-12-28,3,1,CASA NEVES-P- NAT. DE DOÑANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Manolo

In [6]:
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Miliaria calandra','Emberiza calandra')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Mivuls migrans','Milvus migrans')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Cahradrius alexandrinus','Charadrius alexandrinus')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Caildris ferruginea','Calidris ferruginea')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Cyanopica cyana','Cyanopica cyanus')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Hippolais pallida','Iduna pallida')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Sylvia melanocephala','Curruca melanocephala')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Parus cristatus','Lophophanes cristatus')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Parus caeruleus','Cyanistes caeruleus')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Carduelis chloris','Chloris chloris')
datos_sin_anillamiento['NombreEspecie']=datos_sin_anillamiento['NombreEspecie'].replace('Carduelis cannabina','Linaria cannabina')

In [7]:
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Egretta garcetta','Egretta garzetta')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Tachibaptus ruficollis','Tachybaptus ruficollis')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Anas strepera','Mareca strepera')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Maramronetta angustirostris','Marmaronetta angustirostris')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Hieraetus pennatus','Hieraaetus pennatus')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Larus genei','Chroicocephalus genei')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Larus ridibundus','Chroicocephalus ridibundus')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Cyanopica cyana','Cyanopica cyanus')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Delichon urbica','Delichon urbicum')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Saxicola torquata','Saxicola torquatus')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Parus caeruelus','Cyanistes caeruleus')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Carduelis chloris','Chloris chloris')
datos_espana['ESPECIE']=datos_espana['ESPECIE'].replace('Carduelis cannabina','Linaria cannabina')

In [8]:
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Larus ridibundus','Chroicocephalus ridibundus')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Maramronetta angustirostris','Marmaronetta angustirostris')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Anas strepera','Mareca strepera')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Carduelis chloris','Chloris chloris')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Carduelis cannabina','Linaria cannabina')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Sula basana','Morus bassanus')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Anas clypeata','Spatula clypeata')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Circus aeroginosus','Circus aeruginosus')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Haemantopus ostralegus','Haematopus ostralegus')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Tringa erhytropus','Tringa erythropus')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Philomachus pugnax','Calidris pugnax')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Sterna sandvicensis','Thalasseus sandvicensis')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Sterna caspia','Hydroprogne caspia')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Sylvia communis','Curruca communis')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Carduelis spinus','Spinus spinus')
datos_extranjero['ESPECIE']=datos_extranjero['ESPECIE'].replace('Motacilla alba ','Motacilla alba')

datos_extranjero=datos_extranjero.drop(index=datos_extranjero[datos_extranjero['ESPECIE'] == 'Miniopterus schreibersii'].index)
datos_extranjero.reset_index()

,index,MODO,METAL,ESPECIE,DIA,MES,AÑO,LOCALIDAD,PAIS,EDAD,...,LATITUDE CONTROL 1,LONGITUDE CONTROL 2,LATITUDE CONTROL 2,EDAD CONTROL 2,SEXO CONTROL 2,ANILLADOR CONTROL 2,Dias anotados,Kms anotados,Observaciones control 2,Observaciones simple control 2
0,0,A,254842,Anser anser,21,6,1978,"Bosau, Schleswig, Holstein",Alemania,7,...,54.106594,-6.380040,37.159544,A,0,Particular,7060.0,2268.0,Encontrado muerto,muerto
1,1,A,220615,Anser anser,12,6,1985,"Guelper, NE Postdam",Alemania,3,...,52.390569,-5.912740,37.386811,A,0,Particular,1982.0,2246.0,Cazado con escopeta,muerto
2,2,A,9396,Anser anser,24,6,1988,"Utterslev Mose, Seeland, Mon Saltholm",Dinamarca,2,...,55.714467,-5.912740,37.386811,2,0,M. Vazquez,161.0,2495.0,Cazado con escopeta,muerto
3,3,A,9331,Anser anser,13,6,1989,"Utterslev Mose, Kobenhavn, Sjaelland",Dinamarca,1,...,55.717418,-6.063133,37.269407,5,0,Particular,520.0,2481.0,Cazado con escopeta,muerto
4,4,A,3900545,Anser anser,11,6,1993,"Utterslev Mose, Sjaelland",Dinamarca,1,...,55.714467,-5.912740,37.386811,A,0,EBD,3079.0,2496.0,Cazado con escopeta,muerto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,372,C,L797360,Motacilla alba,17,4,2006,"Bovense Strand, Fyn",Dinamarca,4,...,55.566988,10.074804,55.566988,4,1,Extranjero,967.0,2363.0,Capturada por un gato,muerto
372,373,A,L797597,Motacilla alba,4,12,2003,"San Pablo, Sevilla",España,3,...,37.405368,6.989281,50.606416,2,0,Extranjero,989.0,1792.0,Encontrado muerto anilla roja,muerto
373,374,A,L939258,Motacilla alba,29,12,2003,"San Pablo, Sevilla",España,3,...,37.405368,8.237456,49.606031,4,1,Extranjero,274.0,1768.0,control,control
374,375,C,L939258,Motacilla alba,28,9,2004,"Offstein, Rheinhessen Pfalz",Alemania,4,...,49.606031,13.758916,50.944347,4,1,Extranjero,469.0,2165.0,control,control
375,376,A,L939525,Motacilla alba,12,1,2004,"San Pablo, Sevilla",España,5,...,37.405368,8.707493,50.940872,2,0,Extranjero,203.0,1898.0,Encontrado muerto,muerto

In [9]:
lista_orden = list()
lista_nombre_comun = list()
lista_familia = list()
lista_grupo = list()

for i in datos_espana['ESPECIE']:
    especie = datos_familia[datos_familia['SCI_NAME'] == i]
    lista_familia.append(especie.FAMILY.values[0])
    lista_nombre_comun.append(especie.PRIMARY_COM_NAME.values[0])
    lista_orden.append(especie.ORDER1.values[0])
    lista_grupo.append(especie.SPECIES_GROUP.values[0])

In [10]:
datos_espana.insert(2, "NOMBRE_COMUN", lista_nombre_comun)
datos_espana.insert(4, "FAMILIA", lista_familia)
datos_espana.insert(5, "ORDEN", lista_orden)
datos_espana.insert(6, "GRUPO", lista_grupo)

In [11]:
lista_orden = list()
lista_nombre_comun = list()
lista_familia = list()
lista_grupo = list()

for i in datos_extranjero['ESPECIE']:
    especie = datos_familia[datos_familia['SCI_NAME'] == i]
    lista_familia.append(especie.FAMILY.values[0])
    lista_nombre_comun.append(especie.PRIMARY_COM_NAME.values[0])
    lista_orden.append(especie.ORDER1.values[0])
    lista_grupo.append(especie.SPECIES_GROUP.values[0])

In [12]:
datos_extranjero.insert(2, "NOMBRE_COMUN", lista_nombre_comun)
datos_extranjero.insert(4, "FAMILIA", lista_familia)
datos_extranjero.insert(5, "ORDEN", lista_orden)
datos_extranjero.insert(6, "GRUPO", lista_grupo)

In [13]:
lista_orden = list()
lista_nombre_comun = list()
lista_familia = list()
lista_grupo = list()

for i in datos_anillamiento['NombreEspecie']:
    especie = datos_familia[datos_familia['SCI_NAME'] == i]
    lista_familia.append(especie.FAMILY.values[0])
    lista_nombre_comun.append(especie.PRIMARY_COM_NAME.values[0])
    lista_orden.append(especie.ORDER1.values[0])
    lista_grupo.append(especie.SPECIES_GROUP.values[0])

In [14]:
datos_anillamiento.insert(3, "NombreComun", lista_nombre_comun)
datos_anillamiento.insert(5, "Familia", lista_familia)
datos_anillamiento.insert(6, "Orden", lista_orden)
datos_anillamiento.insert(7, "Grupo", lista_grupo)

In [15]:
lista_orden = list()
lista_nombre_comun = list()
lista_familia = list()
lista_grupo = list()

for i in datos_sin_anillamiento['NombreEspecie']:
    especie = datos_familia[datos_familia['SCI_NAME'] == i]
    lista_familia.append(especie.FAMILY.values[0])
    lista_nombre_comun.append(especie.PRIMARY_COM_NAME.values[0])
    lista_orden.append(especie.ORDER1.values[0])
    lista_grupo.append(especie.SPECIES_GROUP.values[0])

In [16]:
datos_sin_anillamiento.insert(1, "NombreComun", lista_nombre_comun)
datos_sin_anillamiento.insert(3, "Familia", lista_familia)
datos_sin_anillamiento.insert(4, "Orden", lista_orden)
datos_sin_anillamiento.insert(5, "Grupo", lista_grupo)

In [30]:
lista_anilladores_anillamiento = datos_anillamiento['NombreAnillador'].unique()
lista_anilladores_anillamiento

array(['MANUEL VAZQUEZ CASTRO', 'JOSE MANUEL SAYAGO ROBLES',
       'EUSEBIO GOMEZ REINA', 'EDUARDO AGULERA PRIETO',
       'OSCAR GONZALEZ JARRI', 'MANUEL VEGA QUIROS',
       'NICOLAS VARO DELCAN', 'JOSE ANTONIO CABRAL HERRERA',
       'FRANCISCO JAMARDO SANCHEZ', 'JAIME ANTONIO NIETO QUEVEDO',
       'ROBERTO PAYA SANCHEZ', 'GREGORIO MAGNO TORAL JIMÉNEZ',
       'CARLOS JAIME MORENO CASADO', 'FERNANDO GAVILAN LOPEZ',
       'ALBERTO JURADO NUÑEZ', 'SALVADOR MARQUEZ CHACON',
       'FRANCISCO JOSE MARTINEZ GARCIA', 'MARIA  MAR DEL ARCO OSUNA',
       'ZAMALLA', 'JUAN MANUEL SAEZ MUNOZ', 'MARIA HARANA HERRERA',
       'FRANCISCO JOSE PARRADO MARQUEZ', 'JUAN CARLOS ADAME MEJIAS'],
      dtype=object)

In [29]:
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('Manuel Vazquez Castro','MANUEL VAZQUEZ CASTRO')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('José Manuel Sayago Robles','JOSE MANUEL SAYAGO ROBLES')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('EUSEBIO GÓMEZ REINA','EUSEBIO GOMEZ REINA')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('MANUEL VEGA QUIRÓS','MANUEL VEGA QUIROS')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('Manuel Vega Quiros','MANUEL VEGA QUIROS')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('NICO VARO','NICOLAS VARO DELCAN')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('Jose Antonio Cabral Herrera','JOSE ANTONIO CABRAL HERRERA')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('Carlos Jaime Moreno Casado','CARLOS JAIME MORENO CASADO')
datos_anillamiento['NombreAnillador']=datos_anillamiento['NombreAnillador'].replace('Salvador Marquez Chacon','SALVADOR MARQUEZ CHACON')

In [31]:
datos_espana.to_csv('controles_espana_familia.csv', encoding='utf-8', index=False)
datos_extranjero.to_csv('controles_extranjeros_familia.csv', encoding='utf-8', index=False)
datos_anillamiento.to_csv('anillamiento_familia.csv', encoding='utf-8', index=False)
datos_sin_anillamiento.to_csv('controles_sin_datos_de_anillamiento_familia.csv', encoding='utf-8', index=False)